<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Note Detection</title>
</head>
<body class="grid items-center w-screen h-screen bg-gray-600 text-gray-800">
  <div class=" w-[500px] min-h-[400px] bg-gray-200 rounded-lg mx-auto py-3 px-5">
    <h1 class="text-center text-xl font-semibold ">Note Detection</h1>
    <hr class="w-full h-[2px] my-3 bg-gray-500">
    <form method="post" class="mx-10" action="" enctype="multipart/form-data">
      <label for="input" class="font-semibold">Masukan Input Melodi :</label>
      <br>
      <div class="flex justify-between items-center my-4 border-[1px] border-gray-500 px-4 py-5 bg-gray-300 rounded-[10px]">
        <input type="file" name="audio_file" id="input">
        
        <button type="submit" class="p-2 bg-blue-600 hover:bg-blue-500 rounded-[10px] font-semibold text-sm text-gray-200">SUBMIT</button>
      </div>
      <h1 class="font-semibold">Output : </h1>
      <div class="flex justify-between items-center min-h-[100px] my-4 border-[1px] border-gray-500 px-4 py-5 bg-gray-300 rounded-[10px]">
        <audio id="sound" controls class="hidden w-full"></audio>
        <p id="output">
          {% if result is defined %}
            {{result}}
          {% endif %}
        </p>
      </div>
    </form>
  </div>
</body>
<script>
  var sound = document.getElementById('sound');
  var output = document.getElementById('output');
  input.onchange = function(e){
  sound.classList.remove('hidden');
  output.classList.add('hidden');

  sound.src = URL.createObjectURL(this.files[0]);
  // not really needed in this exact case, but since it is really important in other cases,
  // don't forget to revoke the blobURI when you don't need it
  sound.onend = function(e) {
    URL.revokeObjectURL(this.src);
  }
}
</script>
</html>